@page
@model IndexModel
@{
    ViewData["Title"] = "Watch Gaze";
}

<div class="text-center bg-white">
    <h1 class="display-1">Watch Gaze</h1>
    <p class="display-5 text-muted">The watch that makes full gaze.</p>
</div>
